<h1 class="text-center title">The list of all articles</h1>
<br>
<div class="pagination text-center">
<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
</div>
<%= render 'users/articles', obj: @articles %>
<div class="pagination text-center">
<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
</div>
