<style media="screen">
  * {
    text-align : center;
  }

  div {
    width : 600px;
    height : 200px;
    background-color: #d1f0a1;
    margin: auto;
  }

  h3 {
    padding-top : 90px;
  }
</style>


<h1>My Pages About page</h1>

<div>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, facilis.</h3>
</div>

<%= link_to 'Home Page', pages_home_path %>
