@import "bootstrap/scss/bootstrap";

.bg-custom {
  background-color: 	#09568d;
}

.center{
  background: asset-url('dark.jpg') no-repeat  center fixed;
  background-size: cover;
  height: 500px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center h1 {
  font-weight: bold;
  color: white;
  letter-spacing: -1px;
  margin-bottom: 25px;
}

footer {
  border-top: 2px solid #e1e1e1;
  margin-bottom: 5px;
  padding-top: 10px;
}

footer ul {
float: right;
  list-style:none;
}
