@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.bg-custom {
  background-color: 	#1b1716;
}

.center{
  background: asset-url('dark1.jpg') no-repeat center center ;
  background-size: contain;
  height: 70vh;
  margin-top: 25px;
  margin-bottom: 45px;
  text-align: center;
}

.center h1 {
  font-weight: bold;
  color: #212121;
  letter-spacing: -1px;
  margin-bottom: 25px;
  margin-top: 35px;
}

footer {
  border-top: 2px solid #e1e1e1;
  padding-top: 10px;
}

footer ul {
float: right;
  list-style:none;
}

.bg-danger {
  margin-bottom: 15px;
}

.bg-danger ul {
  margin-top: -25px;
}

.article-actions{
  padding-bottom: 10px;
  margin-top: 8px;
}



.user-details-small {
  border-top: 1px solid #a2a2a2;
}

.body {
  padding-top: 5px;
  margin-bottom: -10px;
}

.image {
  width: 100px;
   height: 100px;
   margin: 0 auto;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.text-muted {
  margin-top: 0px;
  padding-top: 0px;
}

.btn-info {
  margin-bottom: 0px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  margin-top: 10px;
}

.card{
  margin: 10px auto;
}

@media screen and (max-width: 991px) {
  .nav-button {
    width: 100%;
    margin-top: 5px;
  }
  .my-2 .mr-lg-2 {
    margin-bottom: 8px;
    width: 100%
  }
    .text-right{
      text-align: center !important;
  }
}

.card-content{
  padding-top: 10px;
}
ul.pagination li.page-item a {
  border: none !important;
  margin: 0 5px !important;
}

li.prev, li.next a.page-link {
  display: none !important;
}

.badge {
  text-transform: uppercase;
}

.card-header{
  background-color: #d4d9dd;
  font-size: 1.1em;
}

.card-body{
  font-size: 1rem;
  width: 100%;
}
.card-header {
	a {
		color: #424246;
		padding: 5px 0;
		}
}
.card-header a:hover{
  color: #212121;
  text-decoration: none;
}


h1 {
  font-size: 2.1rem !important;
}
