@import "bootstrap/scss/bootstrap";

.bg-custom {
  background-color: 	#1b1716;
}

.center{
  background: asset-url('dark1.jpg') no-repeat center center fixed;
  background-size: cover;
  border: 1px solid #e2e2e2;
  height: 500px;
  margin-top: 25px;
  margin-bottom: 45px;
  text-align: center;
}

.center h1 {
  font-weight: bold;
  color: #212121;
  letter-spacing: -1px;
  margin-bottom: 25px;
  margin-top: 35px;
}

footer {
  border-top: 2px solid #e1e1e1;
  margin-bottom: 5px;
  padding-top: 10px;
}

footer ul {
float: right;
  list-style:none;
}
