<h1 class="text-center title">
  All Categories
</h1>
<br>
<%= will_paginate(@categories, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
<div class="card-deck text-center row">
  <% @categories.each do |category| %>
    <div class="col-10 offset-1 text-center col-lg-6 offset-lg-3 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h5><%= link_to category.name, category_path(category) %></h5>
          <small class="text-muted"><%= pluralize(category.articles.count, "article") %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= will_paginate(@categories, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
